<div style="background-color: rgb(37, 37, 37);" class="w-screen h-screen flex justify-center items-center">
    <div style="background-color: rgb(20, 20, 20);" class="w-5/6 md:w-3/6 lg:w-2/6 2xl:w-1/6 text-gray-100 py-7 px-5 ">
        <h4 class="font-bold text-2xl text-gray-300">To-Do-list</h4>
        <div class="mb-1 flex justify-between mt-5">
            <input type="text" placeholder="Add task" class="bg-transparent outline-none border px-3 py-1.5 border-yellow-700 rounded text-gray-300 w-9/12" [(ngModel)]="taskName">
            <button *ngIf="editMode==false" class="bg-yellow-700 mx-2 px-5 py-1.5 rounded-xl  outline-none" (click)="addTask()">Add</button>
            <button class="bg-green-700 px-5 py-1.5 mx-2 rounded-xl   outline-none" *ngIf="editMode==true" (click)="save()">Save</button>
        </div>
        <div>
            <div class="flex justify-between mt-4 mx-2" *ngFor="let task of tasks,  let i=index">
                <h2 class="font-semibold text-lg tracking-wider">{{task.taskName}}</h2>
                <div>
                    <i class="fas fa-edit mr-5 text-blue-400 cursor-pointer" (click)="edit(i)"></i>
                    <i class="fas fa-trash-alt text-red-600 cursor-pointer" (click)="delete(i)"></i>
                </div>
            </div>
        </div>
    </div>
</div>